nltk==3.8.1
requests==2.28.2
scikit_learn==1.2.1
transformers==4.26.1
tiktoken==0.2.0
revChatGPT==2.3.14
ipython
openai==0.28.0
torch==2.0.1
sentencepiece==0.1.99
llama-hub==0.0.33
llama-index==0.8.30
langchain==0.0.302
langsmith==0.0.40
nltk==3.8.1
semanticscholar==0.4.1
arxiv==1.4.8
PyPDF2==3.0.1
pandas==2.1.0
streamlit==1.26.0
rank_bm25==0.2.2
supabase==2.3.0